<div class="container px-5 flex flex-col gap-3">
  <% @categories.each do |category| %>
    <% @total_amount = category.entities.sum(:amount) %>
    <%= render partial: 'app/category_card', locals: { category: category, total_amount: @total_amount } %>
  <% end %>
  <%= link_to 'New Category', new_group_path %>
</div>
