<div id="category-card" class="card">
  <div class="card-body">
    <a href="<%=group_entities_path(category)%>">
      <img src="<%=category.icon%>">
      <h5 class="card-title"><%= category.name %></h5>
      <p class="card-text"><%= category.transactions_counter %></p>
    </a>
  </div>
</div>
