<div class="container flex border rounded p-2 justify-between">
  <div class="flex gap-3 items-center">
    <ion-icon name="<%=icon%>" class="text-6xl"></ion-icon>
    <div>
      <p><%=transaction.name%></p>
      <p><%=transaction.created_at%></p>
    </div>
  </div>
  <div class="flex w-/4 items-center gap-1">
    <span>$</span><span><%=transaction.amount%></span>
  </div>
</div>
